<h1>generate</h1>
<p>
  Essa função criadora recebe 3 parâmetros. É muito parecida com o for loop.
</p>
<p>
  Com ela podemos criar loops mais complexos manipulando as informações através
  de funções passadas nos parâmetros.
</p>
<p>
  O primeiro parâmetro é o valor inicial do loop. É o primeiro valor a ser
  emitido.
</p>
<p>
  O segundo parâmetro é a função de condição (parecida com o for loop) caso ela
  retornar true, ele continua o loop. caso ela retornar false ele completa o
  observable.
</p>
<p>
  O terceiro parâmetro é uma função de alteração (também fazendo alusão ao for
  loop) que altera o valor emitido.
</p>
<p>
  Nota-se que os 3 parâmetros em sequencia também são usados da mesma forma nos
  for loops.
</p>
